body {
    background-color: #2f4858;
}

.header {
    display:flex;
    border: 0.15em solid rgba(27,145,144,0.3);
    justify-content: center;
    align-items: center;
    background-color: #2D5060;
    border-radius: 1.5em;
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 6em;
}

#logo-cont {
    float: left;
    max-width: 9em;
    max-height: 7em;
    overflow:hidden;
}

.logo {
  zoom:0.6;
  display: inline-block;
  vertical-align: top;
  object-fit: contain;
  margin-right: 0.5em;
}

.navname {
  color:#f1fcf6;
}

#buttons {
    flex-grow: 2;
    float: right;
    display:flex;
    justify-content: right;
}

.navbutton {
  width: 9em;
  height: 5em;
  background: #295f71;
  color:#f1fcf6;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
  margin: 0.3em;
  border-radius: 3em;
}

.navbutton::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(
      0deg, 
      transparent, 
      transparent 30%, 
      rgba(27,145,144,0.5)
    );
    transform: rotate(-45deg);
    transition: all 0.5s ease;
    opacity: 0;
  }
  
  .navbutton:hover {
    transform: scale(1.05);
    box-shadow: 0 0 0.2em rgba(27,145,144,0.5);
  }
  
  .navbutton:hover::before {
    opacity: 1;
    transform: rotate(-45deg) translateY(100%);
  }

  .hide {
    opacity: 0;
  }

  @font-face { font-family: Raela; src: url('../fonts/RaelaGrotesqueRegular-e9476.ttf'); }
  .Raela { font-family: Raela; font-size: 2em;} 

  .fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
  }
  
  @keyframes fadeInOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .aboutme {
    display: flex;
    flex-direction: column;
    width: 110em;
    height: 50em;
    border: 0.15em solid rgba(27,145,144,0.3);
    background-color: #2D5060;
    border-radius: 1.5em;
    justify-content: center;
    margin:auto;
  }