body {
    background-color: #2f4858;
}

.header {
    display:flex;
    border: 2px solid rgba(27,145,144,0.3);
    justify-content: center;
    align-items: center;
    background-color: #2D5060;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
}

#logo-cont {
    float: left;
    max-width: 206px;
    max-height: 165px;
    overflow:hidden;
}

.logo {
  zoom:0.6;
  display: inline-block;
  vertical-align: top;
  object-fit: contain;
  margin-right: 20px;
}

.navname {
  color:#f1fcf6;
}

#buttons {
    flex-grow: 2;
    float: right;
    display:flex;
    justify-content: right;
}

.navbutton {
  width: 150px;
  height: 75px;
  background: #295f71;
  color:#f1fcf6;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
  margin:5px;
  border-radius: 50px;
  margin: 5px;
}

.navbutton::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(
      0deg, 
      transparent, 
      transparent 30%, 
      rgba(27,145,144,0.5)
    );
    transform: rotate(-45deg);
    transition: all 0.5s ease;
    opacity: 0;
  }
  
  .navbutton:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(27,145,144,0.5);
  }
  
  .navbutton:hover::before {
    opacity: 1;
    transform: rotate(-45deg) translateY(100%);
  }

  .hide {
    opacity: 0;
  }

  @font-face { font-family: Raela; src: url('../fonts/RaelaGrotesqueRegular-e9476.ttf'); }
  .Raela { font-family: Raela; font-size: 2em;} 